@charset "utf-8";
/*----------nav start--------*/
.navbar{
    background: #222;
    top: 0;
    left: 0;
}
.navbar .navbar-brand{
    display: inherit;
}
.navbar .navbar-form{
    display: inherit;
}
.navbar .navbar-form .form-control {
    background-color: #fff;
}
.navbar .navbar-form .pexels-search{
    color:#444;
}
.navbar .navbar-form .pexels-search:hover{
    color:#000;
}
/*----------nav end--------*/

/*-----------header start----------------*/
.l-container{
    padding-top: 80px;
    position: relative;
}

.title_colorPage{
    font-weight: normal;
    font-size: 26px;
}
.title_more{
    margin-bottom: 20px;
}

.title_more p{
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 10px;
}
.photo-colors__color{
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 0 1px rgba(0,0,0,0.4);
    border-radius: 50%;
    margin: 4px 8px 4px 0;
    -webkit-transition: all .1s;
    transition: all .1s;
}
.photo-colors__color-active{
    transform: scale(1.3);
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px #555;
}
/*-----------header end----------------*/

/*------------ photo start  -----------------*/
.l-container .photos {
    padding-bottom: 20px;
    clear: both;
}
.photos .photo-item {
    float: left;
    margin-bottom: 5px;
    position: relative;
}

.photos .photo-item a img {
    width: 100%;
    height: 100%;
}
.photos .photo-item .btn-like--small {
    position: absolute;
    right: 10px;
    bottom: 10px;
    height: 25px;
    width: 25px;
    border-width: 0;
    /*-webkit-filter: drop-shadow(0 0 2px rgba(0,0,0,0.4));*/
    /*filter: drop-shadow(0 0 2px rgba(0,0,0,0.4));*/
}
.photos .photo-item .btn-like {
    display: inline-block;
    padding: 0;
    margin: 0;
    outline: none;
    background: transparent;
    cursor: pointer;
}
/*------------ photo end  -----------------*/

